*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
}

body{
  background:#F5F5F5;
  color:#2E2E2E;
}

/* HEADER */
.header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:18px 25px;
  background:#2E2E2E;
  color:#fff;
  position:fixed;
  width:100%;
  top:0;
}

.logo{
  height:50px;
}

.menu-hamburguesa{
  font-size:28px;
  background:none;
  border:none;
  color:#F28C38;
}

/* MENU */
.menu-desplegable{
  display:none;
  position:fixed;
  top:80px;
  right:0;
  width:250px;
  height:100%;
  background:#2E2E2E;
  padding:20px;
}

.menu-desplegable.show{
  display:block;
}

.menu-desplegable ul{
  list-style:none;
}

.menu-desplegable li{
  margin:15px 0;
}

.menu-desplegable a{
  color:#fff;
  text-decoration:none;
}

/* CONTENIDO */
.contenido{
  padding:120px 20px;
  max-width:1100px;
  margin:auto;
}

/* GRID */
#productos-container{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:25px;
}

/* TARJETAS */
.tarjeta{
  background:#fff;
  padding:20px;
  border-radius:15px;
  box-shadow:0 5px 20px rgba(0,0,0,0.08);
  text-align:center;
  transition:0.3s;
}

.tarjeta img{
  width:100%;
  border-radius:10px;
}

.tarjeta h3{
  color:#F28C38;
}

.boton-acento{
  background:#F28C38;
  color:#fff;
  padding:10px 20px;
  border-radius:8px;
  text-decoration:none;
  display:inline-block;
  margin-top:10px;
}
